<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Deep Sky | Ajout d'une visite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" th:href="@{/css/base.min.css}" >
  </head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    
    <!--Header START-->
     <div class="app-header header-shadow"  th:replace="dashboard.html :: app-header" ></div>  
    <!--Header END-->
    
    <!--THEME OPTIONS START-->
    <div class="ui-theme-settings"  th:replace="dashboard.html :: ui-theme-settings" ></div>  
    <!--THEME OPTIONS END-->
    
    <div class="app-main">
    	<div class="app-sidebar sidebar-shadow" th:replace="dashboard.html :: app-sidebar"  ></div>  
        <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div>Ajout d'une visite
                                    <div class="page-title-subheading">Les champs marqués par le caractère <span class="text-danger">*</span> sont tous obligatoires. 

                                </div>
                              </div>   
                         	</div>
                         </div>
                    </div>            
                    <div class="main-card mb-3 card">
                          <div class="card-body">
                          		<h5 class="card-title"></h5>
                                    <form action="#"  th:action="@{/visite/visite/ajout}"  method="POST" th:object="${visite}" >
                                    	<div class="alert alert-warning h-25" role="alert" aria-label="close" th:unless="${messageEchec == null}" >
  											<i class="fa fa-danger"></i>  <span class="text-center" th:text="${messageEchec}" ></span> 
										</div>
                                        <div class="form-row" >
                                            <div class="col-md-6">
                                                <div class="position-relative form-group" >
                                                	<label for="typeId" class="font-weight-bold" >Type de pièce d'identité <span class="text-danger">*</span></label>
                                                	<select id="typeId" class="multiselect-dropdown form-control" th:field="*{typeId}"  required  >
            											<option value="CNI"  >CNI</option>
            											<option value="Passeport"  >Passeport</option>
            											<option value="Titre de sejour"  >Titre de sejour</option>
            										</select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group" >
                                                	<label for="numeroId" class="font-weight-bold" >Numéro de la pièce d'identité <span class="text-danger">*</span></label>
                                                	<input id="numeroId" name="numeroId" type="text"  th:field="*{numeroId}" class="form-control"   placeholder="Saisir le numéro de la pièce d'identité"  required >
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row" >
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                	<label for="datePi" class="font-weight-bold" >Date de délivrance de la pièce d'identité<span class="text-danger" >*</span></label>
                                                	<input id="datePi" type="date" th:field="*{datePi}"  class="form-control"   placeholder="Saisir la date de délivrance de la pièce d'identité"  required> 
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                	<label for="nom" class="font-weight-bold" >Nom & Prénom <span class="text-danger" >*</span></label>
                                                	<input id="nom" type="text" th:field="*{nom}"  class="form-control"   placeholder="Saisir le nom et le prénom"  required> 
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row" >
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                	<label for="pays" class="font-weight-bold" >Pays d'origine </label>
                                                	<select id="pays" class="multiselect-dropdown form-control" th:field="*{pays.id}"   placeholder="Saisir le pays d'origine"   >
            											<option  th:each="p : ${listePays}"  th:value="${p.id}"  th:text="${p.libelle}" ></option>
            										</select>  
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group" >
                                                	<label for="qualite" class="font-weight-bold" >Qualité </label>
                                                	<input id="qualite" type="text" th:field="*{qualite}"  class="form-control"    placeholder="Saisir la qualité du visiteur"  > 
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row" >
                                        	<div class="col-md-6">
                                                <div class="position-relative form-group">
                                                	<label for="dateVisite" class="font-weight-bold" >Date de la visite <span class="text-danger" >*</span></label>
                                                	<input id="dateVisite" type="date" th:field="*{dateVisite}"  class="form-control"   placeholder="Saisir la date de la visite"  > 
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="position-relative form-group">
                                                	<label for="heureArrivee" class="font-weight-bold" >Heure d'arrivée  <span class="text-danger" >*</span></label>
                                                	<input id="heureArrivee" type="time" th:field="*{heureArrivee}"  class="form-control"   placeholder="Saisir l'heure d'arrivée"  required > 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row" >
                                            <div class="col-md-6">
                                                <div class="position-relative form-group" >
                                                	<label for="heureDepart" class="font-weight-bold" >Heure de départ  </label>
                                                	<input id="heureDepart" type="time" th:field="*{heureDepart}"  class="form-control"    placeholder="Saisir l'heure de départ"   > 
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group" >
                                                	<label for="motif" class="font-weight-bold" >Motif <span class="text-danger">*</span></label>
                                                	<select id="motif" class="multiselect-dropdown form-control" th:field="*{motif}"   placeholder="Saisir le motif de la visite" required  >
            											<option value="1"  >Evènement</option>
            											<option value="2"  >Visite personnelle</option>
            											<option value="3"  >Prestation de services</option>
            										</select> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row" >
                                        	<div class="col-md-6">
                                                <div id="employeDIV" class="position-relative form-group" style = "display:none;" >
                                                	<label for="employe" class="font-weight-bold" >Personne recherchée</label>
                                                	<select id="employe" class="multiselect-dropdown form-control" th:field="*{employe.id}"   placeholder="Saisir l'employé"   >
            											<option  th:each="e : ${listeEmployes}"  th:value="${e.id}"  th:text="${e.nom}+' '+${e.prenom}" ></option>
            										</select>  
                                                </div>
                                                <div id="evenementDIV" class="position-relative form-group"   >
                                                	<label for="evenement" class="font-weight-bold" >Evènement</label>
                                                	<select id="evenement" class="multiselect-dropdown form-control" th:field="*{evenement.id}"   placeholder="Saisir l'évènement"   >
            											<option  th:each="e : ${listeEvenements}"  th:value="${e.id}"  th:text="${e.libelle}" ></option>
            										</select>  
                                                </div>
                                                <div id="prestationsDIV" class="position-relative form-group" style = "display:none;" >
                                                	<label for="prestation" class="font-weight-bold" >Prestation</label>
                                                	<select id="prestation" class="multiselect-dropdown form-control" th:field="*{prestation.id}"   placeholder="Saisir la prestation"   >
            											<option  th:each="p : ${listePrestations}"  th:value="${p.id}"  th:text="${p.libelle}" ></option>
            										</select> 
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="position-relative form-group">
                                                	<label for="email" class="font-weight-bold" >Adresse e-mail</label>
                                                	<input id="email" type="email" th:field="*{email}"  class="form-control"   placeholder="Saisir l'adresse e-mail"   > 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row" >
                                        	<div class="col-md-6">
                                                <div class="position-relative form-group">
                                                	<label for="numeroWhatsapp" class="font-weight-bold" >Numéro WhatsApp </label>
                                                	<input id="numeroWhatsapp" type="text" th:field="*{numeroWhatsapp}"  class="form-control"   placeholder="Saisir le numéro de téléphone WhatsApp"  > 
                                                </div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div class="position-relative form-group" >
                                                	<label for="commentaires" class="font-weight-bold" >Observations </label>
                                                	<input id="commentaires" type="text" th:field="*{commentaires}"  class="form-control"    placeholder="Saisir les observations" > 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer clearfix">
                                            <div class="float-left ">
                                            	<a th:href="@{/visite/visites-aujourdhui}" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Annuler</a>
                                            </div>
                                            <div class="float-right">
                                             	<button class="tn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">Enregistrer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                      </div>
                </div>
                <div class="app-wrapper-footer" th:replace="dashboard.html :: app-wrapper-footer" ></div>    
           </div>
    </div>
</div>
<!--DRAWER START-->
<div class="app-drawer-wrapper" th:replace="dashboard.html :: app-drawer-wrapper" ></div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>

<!--DRAWER END-->



<!--CORE-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
<script src="/js/scripts-init/app.js"></script>
<script src="/js/scripts-init/demo.js"></script>

<script src="/js/admin/login-validation.js" ></script>

<!--SCRIPTS INCLUDES-->
<script src="/js/visite/update-motif-visite.js"></script>
<script src="/js/visite/find-visite.js"></script>

<!--Apex Charts-->
<script src="/js/vendors/charts/apex-charts.js"></script>

<script src="/js/scripts-init/charts/apex-charts.js"></script>
<script src="/js/scripts-init/charts/apex-series.js"></script>

<!--Sparklines-->
<script src="/js/vendors/charts/charts-sparklines.js"></script>
<script src="/js/scripts-init/charts/charts-sparklines.js"></script>

<!--Chart.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/js/scripts-init/charts/chartsjs-utils.js"></script>
<script src="/js/scripts-init/charts/chartjs.js"></script>

<!--FORMS-->

<!--Clipboard-->
<script src="/js/vendors/form-components/clipboard.js"></script>
<script src="/js/scripts-init/form-components/clipboard.js"></script>

<!--Datepickers-->
<script src="/js/vendors/form-components/datepicker.js"></script>
<script src="/js/vendors/form-components/daterangepicker.js"></script>
<script src="/js/vendors/form-components/moment.js"></script>
<script src="/js/scripts-init/form-components/datepicker.js"></script>

<!--Multiselect-->
<script src="/js/vendors/form-components/bootstrap-multiselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/js/scripts-init/form-components/input-select.js"></script>

<!--Form Validation-->
<script src="/js/vendors/form-components/form-validation.js"></script>
<script src="/js/scripts-init/form-components/form-validation.js"></script>

<!--Form Wizard-->
<script src="/js/vendors/form-components/form-wizard.js"></script>
<script src="/js/scripts-init/form-components/form-wizard.js"></script>

<!--Input Mask-->
<script src="/js/vendors/form-components/input-mask.js"></script>
<script src="/js/scripts-init/form-components/input-mask.js"></script>

<!--RangeSlider-->
<script src="/js/vendors/form-components/wnumb.js"></script>
<script src="/js/vendors/form-components/range-slider.js"></script>
<script src="/js/scripts-init/form-components/range-slider.js"></script>

<!--Textarea Autosize-->
<script src="/js/vendors/form-components/textarea-autosize.js"></script>
<script src="/js/scripts-init/form-components/textarea-autosize.js"></script>

<!--Toggle Switch -->
<script src="/js/vendors/form-components/toggle-switch.js"></script>


<!--COMPONENTS-->

<!--BlockUI -->
<script src="/js/vendors/blockui.js"></script>
<script src="/js/scripts-init/blockui.js"></script>

<!--Calendar -->
<script src="/js/vendors/calendar.js"></script>
<script src="/js/scripts-init/calendar.js"></script>

<!--Slick Carousel -->
<script src="/js/vendors/carousel-slider.js"></script>
<script src="/js/scripts-init/carousel-slider.js"></script>

<!--Circle Progress -->
<script src="/js/vendors/circle-progress.js"></script>
<script src="/js/scripts-init/circle-progress.js"></script>

<!--CountUp -->
<script src="/js/vendors/count-up.js"></script>
<script src="/js/scripts-init/count-up.js"></script>

<!--Cropper -->
<script src="/js/vendors/cropper.js"></script>
<script src="/js/vendors/jquery-cropper.js"></script>
<script src="/js/scripts-init/image-crop.js"></script>

<!--Maps -->
<script src="/js/vendors/gmaps.js"></script>
<script src="/js/vendors/jvectormap.js"></script>
<script src="/js/scripts-init/maps-word-map.js"></script>
<script src="/js/scripts-init/maps.js"></script>

<!--Guided Tours -->
<script src="/js/vendors/guided-tours.js"></script>
<script src="/js/scripts-init/guided-tours.js"></script>

<!--Ladda Loading Buttons -->
<script src="/js/vendors/ladda-loading.js"></script>
<script src="/js/vendors/spin.js"></script>
<script src="/js/scripts-init/ladda-loading.js"></script>

<!--Rating -->
<script src="/js/vendors/rating.js"></script>
<script src="/js/scripts-init/rating.js"></script>

<!--Perfect Scrollbar -->
<script src="/js/vendors/scrollbar.js"></script>
<script src="/js/scripts-init/scrollbar.js"></script>

<!--Toastr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts-init/toastr.js"></script>

<!--SweetAlert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="/js/scripts-init/sweet-alerts.js"></script>

<!--Tree View -->
<script src="/js/vendors/treeview.js"></script>
<script src="/js/scripts-init/treeview.js"></script>


<!--TABLES -->
<!--DataTables-->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" crossorigin="anonymous"></script>

<!--Bootstrap Tables-->
<script src="/js/vendors/tables.js"></script>

<!--Tables Init-->
<script src="/js/scripts-init/tables.js"></script>

</body>
</html>
